body {
  background-color: #cfb98c;
  background-image: url(../images/abstract-golden-geometric-pattern.jpeg);
  background-repeat: repeat;
  background-size: 300px 300px;
  background-attachment: fixed;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  margin-bottom: 20px;

  transition: height 250ms linear, background-color 250ms linear;
}

.wrap {
  height: 80px;
  background-color: #cfb98c;
  z-index: 100;
  flex-direction: row;
  align-items: stretch;
}

.logo {
  font-family: 'Product Sans', sans-serif;
  font-size: 120px;
  background: linear-gradient(
    to right,
    #4c8bf5 13.2%,
    #de5246 13.2% 27%,
    #ffce42 27% 40%,
    #4c8bf5 40% 50%,
    #1aa260 50% 62.5%,
    #ffce44 62.5% 76%,
    #de5246 76% 90%,
    #1aa260 87.5% 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
}

.logo-wraped {
  font-size: 60px;
  margin-right: 50px;
}

.search-form {
  display: flex;
  align-items: center;
}

.input {
  height: 44px;
  width: 556px;

  padding: 0 20px;
  margin: 20px 0;

  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: 2px solid grey;
  border-right: none;

  outline: none;
  background-color: rgb(255, 255, 255);
  transition: border-bottom-left-radius 250ms linear,
    border-top-left-radius 250ms linear, height 250ms linear,
    margin 250ms linear;
}

.button {
  height: 44px;
  width: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid grey;
  border-left: none;

  background-color: rgb(255, 255, 255);
  color: grey;

  transition: border-bottom-right-radius 250ms linear,
    border-top-right-radius 250ms linear, height 250ms linear;
}

.button:hover,
.button:focus {
  color: rgb(3, 82, 116);
}

.button__icon {
  fill: currentColor;
}

.input:focus + .button {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-color: rgb(3, 82, 116);
  height: 50px;
}

.input:focus {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border-color: rgb(3, 82, 116);
  height: 50px;

  margin: 17px 0;
}

.container {
  // width: 1030px;
  padding-left: 15px;
  padding-right: 15px;
  // margin: 0 auto;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-hide {
  display: none;
}
